body{
    background:#f5d9d5;
    font-family:"Nunito",sans-serif;    
}
.blurb h2{
    color: #ea1c2c;
    font-weight:100;
    font-size:2.5rem;
}
.blurb p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content{
    margin-top:100px;
    margin-bottom: 100px;
}
#headingGroup h2 span{
    color: #ea1c2c;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-size: 2rem;
    font-weight:100;
}
#mainNavbar{
    font-size: 1rem;
    font-weight:100;
}
#mainNavbar .nav-link{
    color:white;
}
#mainNavbar .nav-link:hover{
    color:red;
    background-color: rgb(255, 149, 149);
    border-radius: 9px;
    margin: auto 10x;
}
#headingGroup span{
    color: #ea1c2c;
}
#headingGroup h2{
    font-weight:100;
    font-size:4rem;
    
}
.navbar.scrolled{
    background-color: rgb(222, 192,222);
    transition:background 1000ms;
}
@media(max-width:1200px){
    body{
        font-weight:100;
        font-size:3rem;
        background-color:orange;
    }
}

/* h1{
    color: aqua;
    background-color: black;
} */
